@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints:
Telas Pequenas: de 320px até 480px  ( feito )
Celular: de 481px até 768px ( feito )

Tablet: de 769px até 1024px
Desktop: 1025px até 1200px
Telas Grandes: acima de 1201px
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.1em;
        text-align: center;
    }

    body {
        background: black url("../imagens/back-print.jpg") center center no-repeat;
        background-size: cover;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after{
        content: "Esta impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: underline;
    }
    img#celular {display: none;}
    img#desktop {display: none;}
    img#impressao {display: block;}
    img#tablet {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 769px) and (max-width: 1024px) { /* TABLET */

    body {
        background: black url("../imagens/back-tablet.jpg") center center no-repeat;
        background-size: cover;
    }

    img#celular {display: none;}
    img#desktop {display: none;}
    img#impressao {display: none;}
    img#tablet {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) { /* DESKTOP */

    body {
        background: black url("../imagens/back-pc.jpg") center center no-repeat;
        background-size: cover;
    }

    img#celular {display: none;}
    img#desktop {display: block;}
    img#impressao {display: none;}
    img#tablet {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 1201px) { /* TELAS GRANDES */
    
    body {
        background: black url("../imagens/back-tv.jpg") center center no-repeat;
        background-size: cover;
    }

    img#celular {display: none;}
    img#desktop {display: none;}
    img#impressao {display: none;}
    img#tablet {display: none;}
    img#tv {display: block;}
}
