@charset "UTF-8";

/* Versão Mobile First */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url("../imagens/back-phone.jpg") center no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.707);
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 80vw;
    padding: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 4px 3.2px 3px black;
    text-align: center;
    font-size: 1em;
}
img {
    display: block;
    margin: auto;
}

img#celular {display: block;}
img#desktop {display: none;}
img#impressao {display: none;}
img#tablet {display: none;}
img#tv {display: none;}