@charset "UTF-8";

/* Estilo para Impressões */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.2em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: "Este artigo foi impresso através do site www.cursoemvideo.com";
}