@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    height: auto;
    background-image: linear-gradient(to right, #0324FA, #F3F4F6);
}
main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #443952;
}
p {
    text-align: justify;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #7000F9;   
}
h2 {
    color:#7781C2;
}