@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{font-family: 'idroid'; src: url('../pacote-projeto-d010/fontes/idroid.otf')};

:root {
    --cor01: #1B5936;
    --cor02: #17BD40;
    --cor03: #00874C;
    --cor04: #87ffa1b4;
    --cor05: #20FF9A;
}

* {
    margin: 0;
    padding: 0;
    margin: auto;
}

body {
    background-color: #87ffa1b4;
}

header {
    background-image: linear-gradient(to bottom, #03ba6b, #144328);
    color: white;
    text-align: center;
    padding: 30px;
}

header > h1 {
    font-family: Bebas Neue;
}

header > p {
    margin-top: 5px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 6px;
}

nav {
    padding: 5px;
    background-color: #144328;
}

nav > a:hover {
    transition: 0.5s;
    background-color: #20ff9b79;
}

strong, a {
    color: #008521;
    text-decoration: none;
}

main a {
    background-image: linear-gradient(to right, #17bd4175, transparent)
}

section a {
    background-image: linear-gradient(to right, #17bd4175, transparent)
}

main a::after {
    content: ' 🔗';
}

section a::after {
    content: ' 🔗';
}

main, section, article{
    background-color: white;
    max-width: 855px;
    min-width: 320px;
}

section, article {
    margin-bottom: 10px;
}

main {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

main h1 {
    text-shadow: 0px 0px 3px black;
    padding-top: 2%;
    margin-left: 2%;
}

main h2 {
    background-image: linear-gradient(to right, #00874c92, transparent);
    padding-top: 0;
    margin-left: 2%;
    text-indent: 10px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.501);
}

main h1, h2 {
    font-family: idroid;
    color:#144328;
    font-weight: bold;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-indent: 4%;
}

img {
    width: 95%;
    display: block;
    text-align: center;
}

img#bugdroid {
    width: min-content;
}

div.videos {
    background-color: #144328;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div.videos > iframe {
    position: absolute;
    top: 2.4%;
    left: 2.4%;
    width: 95%;
    height: 95%;
}

section {
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

section > p {
    text-indent: 20px;
    margin-left: 16px;
}

section h3 {
    background-color: #176e3d;
    padding: 6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section > div#extra{
    padding: 21px;
}

section div#inf_add {
    text-indent: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #87ffa1b4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 1.62em;
}

section div#inf_add > p{
    text-indent: 20px;
    margin-left: 16px;
}

section div#lista {
    text-indent: 20px;
}

section div#lista > p::before {
    content: "🗸 ";
}

article {
    display: block;
    text-indent: 16px;
    padding: 20px;
}

footer {
    background-color: #144328;
    color: white;
    text-align: center;
    box-shadow: 0 10px 16px black;
    margin: 0;
}