@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between; */
    flex-flow: row wrap;

    background-color: rgb(247, 207, 120);
    /* height: 500px; */
    /* width: 500px; */
    padding-top: 16px;
}

.flex-item {
    background-color: rgb(253, 124, 124);
    color: white;

    text-align: center;
    text-shadow: 1px 2px 3px black;
    font-size: 1.2em;

    /* width: 100%; */
    height: 200px;

    /* margin-bottom: 10px; */

    flex: 1 0 320px; /* flex-grow flex-shrink flex-basis */
}
.flex-item:nth-child(1) {
    background-color: rgb(73, 151, 148);

    order: 3;
}
.flex-item:nth-child(2) {
    background-color: rgb(104, 73, 151);

    order: 2;
}
.flex-item:nth-child(3) {
    background-color: rgb(151, 73, 95);
 
    order: 1;
}
.flex-item:nth-child(4) {
    background-color: rgb(223, 109, 109);

    order: 0;
}
.flex-item:nth-child(5) {
    background-color: rgb(87, 151, 73);
 
    order: -1;
}