@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sono:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}
body {
    /* width: 100vw; */
    height: 100vh;
    font-size: 100%;
    background-color: rgba(200, 246, 230, 0.502);
}
section.full-content {
    text-align: justify;
    background-color: brown;
    width: 50%;
    margin: auto;
}
div.content > h2{
    /* display: flex; */
    /* padding: 2rem; */
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 3rem;

    padding-top: 2rem;
    text-transform: uppercase;
    /* background-color: red; */
}
div.content > p {
    text-align: center;
}