@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 97vh;
    width: 97.709vw;
}

main h1 {
    text-align: left;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 2vw;
    padding: 2vh 0;
}

main p#aviso, form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
    font-size: 0.95vw;
}

main,p,input,p#endereço2, p#Cidade, p#CEP, select, fieldset{
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
}

main, fieldset{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 97vh;
    text-align: center;
}

fieldset {
    padding-top: 2vh;
}

p#data_rec input, p#Nome_ input, p#email_ input, p#endereço input, p#endereço2 input, p#Cidade input, p#CEP input, p#loc_inc input, p#det input, p#rest input {
    width: 34%;
}

p#data_rec, p#Nome_, p#email_, p#endereço, p#endereço2, p#Cidade, p#CEP, p#loc_inc, p#det, p#rest {
    padding-bottom: 1.8vh;
}

p#data_rec label{
    padding-right: 2vw;
}

p#Nome_ label {
    padding-right: 10vw;
}

p#email_ label {
    padding-right: 10.2vw;
}

p#endereço label{
    padding-right: 8.1vw;
}

p#endereço2 label, p#Cidade label,p#CEP label{
    padding-right: 13.59vw;
}

p#data_rep label {
    padding-right: 8.1vw;
}

p#data_rep input{
    position: relative;
    bottom: 1.415vw;
}

p#data_rep input, p#data_rec input{
    width: 69%;
}

select {
    height: 100%;
    width: 34.3%;
}

p#loc_inc label {
    padding-right: 3.5vw;
}

p#loc_inc input {
    width: 69.3%;
}

p#det label {
    padding-right: 0.3vw;
}

p#det input, p#rest input {
    height: 12vh;
    width: 69.3%;
}

p#rest label {
    padding-right: 2.557vw;
}

p#Dica {
    font-size: 1.64vh;
    padding-left: 13.5vw;
    color: rgba(128, 128, 128, 0.541);
}

p#Dica2 {
    text-align: left;
    padding-left: 2vw;
    font-size: 1.64vh;
    color: rgba(128, 128, 128, 0.541);
}

p#Assinatura input{
    height: 16vh;
    width: 98.6%;
}

p#Envio input{
    background-color: gray;
    width: 16vw;
    height: 7.5vh;
}

p#Envio {
    padding-top: 4vh;
    padding-bottom: 4vh;
}