@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font_personalized: 'Source Code Pro', cursive;
    --font_style: 'Kanit', cursive;
    --font_default: Arial, Helvetica, sans-serif;
}

/* Global configurations */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font_default);
}

/* Header configurations */

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 6px 0px;
}
header > h1 {
    padding-top: 7vh;
    font-size: 5.4vw;
    font-family: var(--font_personalized);
}
header > p {
    padding-top: 1vh;
    padding-bottom: 6vh;
    font-family: var(--font_personalized);
}
header > p a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    font-family: var(--font_personalized);
}
a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* Main configurations */

main {
    background-color: rgba(161, 210, 226, 0.700);
    padding-bottom: 20px;
    text-align: justify;
}

/* Section configurations */
article {
    background-color: white;
    min-width: 320px;
    max-width: 1060px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 8px black;
    margin: auto;
}
article > h2 {
    font-family: var(--font_personalized);
    font-size: 4em;
    text-indent: 20px;
    padding: 2vh 2vw;
}
article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.32em;
    line-height: 40px;
    padding: 2vh 2vw;
    text-indent: 25px;
}

/* List configurations */

/* ul {
    list-style: none;
    width: 500px;
}
li {
    line-height: 8vh;
    font-size: 4vh;
    margin-left: 20px;
}
li a {
    color: white;
    text-decoration: none;
    font-family: var(--font_personalized);
}
ul#html_content {
    background-image: linear-gradient(to right, #121413, transparent);
}
ul#css_content {
    background-image: linear-gradient(to right, #1F2444, transparent );
}
ul#javascript_content {
    background-image: linear-gradient(to right, #181D26, transparent );
} */

/* Image configurations */
/* img {
    width: 100%;
}
picture {
} */
/* div#image_one {
    background-image: url('../img/HTML.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:50vh;
    padding: 25vh 2vw 0;
}
div#image_two {
    background: black url('/Assets/informations/img/landscape.jpg') no-repeat right center fixed;
    background-size: cover;
    height:50vh;
    padding: 32vh 2vw 0;
}
div#image_three {
    background: black url('/Assets/informations/img/HTML_2.jpg') no-repeat right center fixed;
    background-size: cover;
    height:50vh;
    padding: 35vh 2vw 0;
} */

/* Aside configurations */

/* aside p{
    font-size: 1.5em;
}
aside > ul li a{
    color: black;
    padding-left: 1vw;
}
aside > ul li a:hover{
    background-image: linear-gradient(to right, rgb(224, 224, 224), transparent);
} */

/* footer configurations */

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer > p a:hover {
    text-decoration: underline;
}