@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font_personalized: 'Source Code Pro', cursive;
    --font_style: 'Kanit', cursive;
    --font_default: Arial, Helvetica, sans-serif;
}

/* Global configurations */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font_default);
}

/* Header configurations */

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 6px 0px;
}
header > h1 {
    padding-top: 7vh;
    font-size: 5.3vw;
    font-family: var(--font_personalized);
}
header > p {
    padding-top: 1vh;
    padding-bottom: 6vh;
    font-family: var(--font_personalized);
}
header > p a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    font-family: var(--font_personalized);
}
header > p a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* Main configurations */

main {
    background-color: rgba(161, 210, 226, 0.700);
    padding-bottom: 20px;
    text-align: justify;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Section configurations */
article {
    background-color: white;
    min-width: 320px;
    max-width: 1000px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 8px black;
    margin: auto;
}
article > h2{
    font-family: var(--font_personalized);
    font-size: 3em;
    text-indent: 2vw;
    padding-top: 2vh;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 3px;
}

article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 540;
    line-height: 40px;
    padding: 1vh 2vw;
    text-indent: 25px;
}

/* List configurations */

ul {
    list-style: none;
}
li {
    font-size: 1.3em;
    line-height: 40px;
    padding: 1vh 2vw;
    text-indent: 25px;
}
li a {
    color: white;
    text-decoration: none;
    font-family: var(--font_personalized);
}
li a:hover {
    background-color: #4d5551;
    transition-duration: 600ms;
    font-size: 1.2em;
}
ul#html_content {
    background-image: linear-gradient(to right, #111311, transparent);
}
ul#javascript_content {
    background-image: linear-gradient(to right, #1c1c1f, transparent );
}
ul#css_content {
    background-image: linear-gradient(to right, #181D26, transparent );
}

/* Image configurations */
div.image {
    padding: 30vh 0;
    background-color: black;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
div#image_one {
    background-image: url('../img/HTML.jpg');
}
div#image_two {
    background-image: url('../img/HTML_2.jpg');
}
div#image_three {
    background-image: url('../img/landscape.jpg');
}

/* Aside configurations */

aside {
    text-align: center;
    padding-bottom: 2vh;
}
aside > h3 {
    font-family: var(--font_personalized);
    font-size: 3em;
    padding-top: 2vh;
    font-weight: bolder;
}
aside > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    line-height: 40px;
}
aside > p a {
    display: block;
    margin: auto;
    color: black;
    text-decoration: none;
    font-family: var(--font_style);
}
aside > p a:hover{
    background-color: rgb(168, 168, 168);
    transition-duration: 600ms;
    width: 100%;
}

/* footer configurations */

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 6px;
}
footer > p a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer > p a:hover {
    text-decoration: underline;
}