@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

header > figure img{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    width: 2.5rem;
    margin-left: 0.5rem;
    padding: 1.5rem 0;
}

span#menu {
    background-color: rgb(116, 116, 116);
    width: 100%;
    text-align: center;
    padding: 6px;
    font-weight: bolder;
    display: none;
}
span#menu:hover {
    background-color: rgb(91, 91, 91);
    cursor: pointer;
}

header > nav ul{
    list-style: none;

    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
    
    font-family: "Sono", monospace;
    font-size: 1rem;
    font-weight: 500;
}

header a {
    text-decoration: none;
    color: black;
}