@charset "UTF-8";

main.container {
    display: flex;
    flex-direction: column;
}

section.full-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.1rem;

    width: 90vw;
    height: 90vh;
    margin: auto;
}

div.content {
    font-family: "Sono", monospace;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;

    padding: 1rem;
}

div.content > h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 3rem;

    padding: 1rem 0;
    text-transform: uppercase;
}
div.image {
    display: flex;
    justify-self: center;

    margin: 4rem 2rem;
}
div.image img{
    width: 25vw;
    margin: auto;
}
button[type='button'] {
    display: flex;
    justify-content: center;

    margin: 1rem 0;
    padding: 0rem;

    width: 40%;

    border: none;
    background-color: rgba(150, 150, 150, 0.609);
    border-radius: 8px;

    overflow: hidden;
}
button[type='button']:hover {
    background-color: rgba(146, 146, 146, 0.741);
    cursor: pointer;
}
button[type='button'] > a {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    /* body {
        width: 100vw;
        height: 100vh;
    } */
    section.full-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* flex-wrap: wrap; */

        gap: 0rem;
    
        width: 100vw;
        margin: auto;

        background-color: yellow;
        /* border-radius: 1rem; */
    }    
    div.content {
        font-family: "Sono", monospace;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: justify;
        line-height: 2rem;

        /* background-color: red; */
        padding: 1rem;
    }
    div.content > h2 {
        display: none;
    }
    div.image {
        justify-content: center;
        align-items: center;
        /* background-color: blue; */
        width: 100%;
        margin: auto;
        padding: 1rem;
    }
    div.image img{
        width: 66vw;
    }
    section#css-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;

    }
    section#js-content {
        flex-direction: column;
        overflow: hidden;
    }
    section#js-content #image-js{
        border-radius: 50%;
        margin: auto;
        overflow: hidden;
    }   
    button[type='button'] {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 16px auto 8px;
        padding: 0rem;

        width: 40%;


        border: none;
        background-color: rgba(150, 150, 150, 0.609);
        border-radius: 8px;

        overflow: hidden;
    }
    button[type='button']:hover {
        background-color: rgba(146, 146, 146, 0.741);
        cursor: pointer;
    }
    button[type='button'] > a {
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
        text-decoration: none;
    }
}