@charset "UTF-8";

@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sono:wght@200..800&display=swap');

/* Typical Devices breakpoints ( 27/05/2024 )

    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.
    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    background-color: rgba(200, 246, 230, 0.502);
}