@charset "UTF-8";

footer {
    background-color: var(--color-primary-2);
}
#footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8% 24px 8%;
}
#coypright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}